{% extends "base.html" %}
{% block title %}Punchclock | Deleted time blocks{% endblock %}
{% block page %}
<table>
  <tr>
    <th>Punch in ts (local)</th>
    <th>Punch out ts (local)</th>
    <th>Dur hours</th>
    <th>Hourly rate ($)</th>
    <th>Accrued ($)</th>
    <th></th>
  </tr>
  {% for block in blocks %}
  <tr>
    <td>{{ block.punch_in_localtime }}</td>
    <td>{{ block.punch_out_localtime }}</td>
    <td>{{ block.block_dur_hours }}</td>
    <td>{{ block.pay_rate_hourly }}</td>
    <td>{{ block.accrued }}</td>
    <td><a href="/undelete_time_block/{{ block.block_id }}"</a>Undelete</td>
	   </tr>
{% endfor %}
</table>
{% endblock %}
