{% extends "base.html" %}
{% block title %}Punchclock{% endblock %}
{% block page %}
<div class="content_centered_column">
  <h3>Job: {{ job.job_name }}</h3>
  <form method="POST" action="/job/{{ job.job_id }}/punchclock/submit">
    <input
      class="punchbutton"
      type="submit"
      value={{ "IN" if status.next_punch_type == 0 else "OUT" }}
      style="background-color: {{'springgreen' if status.next_punch_type == 1 else 'tomato'}};">
    </input>
  </form>
  <p></p>
  <a href="/job/{{ job.job_id }}/time_blocks">View time blocks table</a>
</div>
<script>
window.addEventListener("pageshow", function (event) {
    if (event.persisted) {
        window.location.reload();
    }
});
</script>
{% endblock %}
