{% extends "base.html" %}
{% block title %}Punchclock | Time blocks{% endblock %}
{% block page %}
<table>
  <caption>
    Time recorded for job id {{ job_id }}
  </caption>
  <tr>
    <th>Block ID</th>
    <th>Punch in ts (local)</th>
    <th>Punch out ts (local)</th>
    <th>Dur hours</th>
    <th></th>
  </tr>
  {% for block in blocks %}
  <tr>
    <td>{{ block.block_id }}</td>
    <td>{{ block.punch_in_localtime }}</td>
    <td>{{ block.punch_out_localtime }}</td>
    <td>{{ block.block_dur_hours }}</td>
    <td><a href="/edit_timeblock/{{ block.block_id  }}">Edit</td>
  </tr>
  {% endfor %}
</table>
<a href="/time_blocks_all_write_csv">Download csv</a>
{% endblock %}
